body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.home {
    position: absolute;
    top: 2rem;
    width: 2rem;
    height: 2rem;
}

.home ion-icon {
    font-size: 2rem;
}

.card {
    width: 100% !important;
    margin: 1rem;
}

.btn_modal {
    display: none;
}

#response-ul {
    display: flex;
}

#response-ul li {
    margin: 1rem;
}
